totem {
    version: 2
    cluster_name: k3sloadbalancer
    transport: udpu
    interface {
        ringnumber: 0
        bindnetaddr: {{ hostvars[groups['loadbalancer'][0]]['ansible_default_ipv4']['address'] }}
        broadcast: yes
        mcastport: 5405
    }
}

quorum {
    provider: corosync_votequorum
    two_node: 1
}

nodelist {
    node {
        ring0_addr: {{ hostvars[groups['loadbalancer'][0]]['ansible_default_ipv4']['address'] }}
        name: {{ hostvars[groups['loadbalancer'][0]]['ansible_facts']['nodename'] }}
        nodeid: 1
    }
    node {
        ring0_addr: {{ hostvars[groups['loadbalancer'][1]]['ansible_default_ipv4']['address'] }}
        name: {{ hostvars[groups['loadbalancer'][1]]['ansible_facts']['nodename'] }}
        nodeid: 2
    }
}

logging {
    to_logfile: yes
    logfile: /var/log/corosync.log
    to_syslog: yes
    timestamp: on
}

service {
    name: pacemaker
    ver: 1
}