# Mabye on other distros
#load_module /usr/lib/nginx/modules/ngx_stream_module.so;

# openSUSE specific path
load_module /usr/lib64/nginx/modules/ngx_stream_module.so;

events {}

stream {
    #########
    ## Etcd
    #########
    upstream kube_api_etcd_nodes {
    {% for host in groups['etcd'] %}
        server {{ hostvars[host]['ansible_default_ipv4']['address'] }}:6443 max_fails=3 fail_timeout=5s;
    {% endfor %}
    }

    server {
        listen 6444;
        proxy_pass kube_api_etcd_nodes;
    }

    #########
    ## Control-Plane
    #########
    upstream kube_api_control-plane_nodes {
    {% for host in groups['control_plane'] %}
        server {{ hostvars[host]['ansible_default_ipv4']['address'] }}:6443 max_fails=3 fail_timeout=5s;
    {% endfor %}
    }

    server {
        listen 6443;
        proxy_pass kube_api_control-plane_nodes;
    }

    #########
    ## Control-Plane
    #########
    upstream kube_http {
    {% for host in groups['control_plane'] %}
        server {{ hostvars[host]['ansible_default_ipv4']['address'] }}:80 max_fails=3 fail_timeout=5s;
    {% endfor %}
    }

    server {
        listen 80;
        proxy_pass kube_http;
    }

    #########
    ## Control-Plane
    #########
    upstream kube_https {
    {% for host in groups['control_plane'] %}
        server {{ hostvars[host]['ansible_default_ipv4']['address'] }}:443 max_fails=3 fail_timeout=5s;
    {% endfor %}
    }

    server {
        listen 443;
        proxy_pass kube_https;
    }

}