[Unit]
Description=etcd
After=network.target

[Service]
Type=exec
ExecStart=/usr/local/bin/etcd \
    --name {{ hostvars[inventory_hostname]['ansible_facts']['hostname'] }} \
    --data-dir {{ etcd_mount_path }} \
    --initial-advertise-peer-urls http://{{ ansible_default_ipv4.address }}:2380 \
    --listen-peer-urls http://{{ ansible_default_ipv4.address }}:2380 \
    --advertise-client-urls http://{{ ansible_default_ipv4.address }}:2379 \
    --listen-client-urls http://{{ ansible_default_ipv4.address }}:2379,http://127.0.0.1:2379 \
    --initial-cluster-token {{ etcd_cluster_token }} \
    --initial-cluster {{ hostvars[groups['member'][0]]['ansible_facts']['hostname'] }}=http://{{ hostvars[groups['member'][0]]['ansible_default_ipv4']['address'] }}:2380,{{ hostvars[groups['member'][1]]['ansible_facts']['hostname'] }}=http://{{ hostvars[groups['member'][1]]['ansible_default_ipv4']['address'] }}:2380,{{ hostvars[groups['member'][2]]['ansible_facts']['hostname'] }}=http://{{ hostvars[groups['member'][2]]['ansible_default_ipv4']['address'] }}:2380 \
    --initial-cluster-state new \
    --logger zap \
    --log-level info \
    --log-outputs /var/log/etcd.log \
    --enable-log-rotation \
    --log-rotation-config-json '{"maxsize": 100, "maxage": 5, "maxbackups": 3, "localtime": false, "compress": true}'
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target