---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
    name: ingress-nginx
    namespace: kube-system
spec:
    chart: ingress-nginx
    repo: https://kubernetes.github.io/ingress-nginx
    targetNamespace: kube-system
    version: {{ nginx_ingress_version }}
    valuesContent: |-
        controller:
          kind: DaemonSet
          hostNetwork: true
          nodeSelector:
            node.kubernetes.io/control-plane: "true"
          hostPort:
            enabled: false
          service:
            enabled: true
          publishService:
            enabled: true
          metrics:
            enabled: true
            serviceMonitor:
              enabled: false
          config:
            use-forwarded-headers: "true"
          ingressClassResource:
            default: true
