---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
    name: longhorn
    namespace: kube-system
spec:
    chart: longhorn
    version: {{ longhorn_version }}
    repo: https://charts.longhorn.io
    targetNamespace: longhorn-system
    valuesContent: |-
        persistence: 
            defaultClassReplicaCount: {{ longhorn_replica_number }}
        defaultSettings:
            backupTarget: "{{ longhorn_backup_path }}"
            defaultReplicaCount: {{ longhorn_replica_number }}
            createDefaultDiskLabeledNodes: {{ longhorn_disk_on_labeled_node }}
        ingress:
            enabled: {{ longhorn_ingress_enabled }}
            host: "{{ longhorn_hostname }}"
            annotations:
                kubernetes.io/ingress.class: "nginx"
                cert-manager.io/cluster-issuer: "home-local"
            tls: true
            tlsSecret: longhorn-cert
        longhornUI.replicas: 1
        longhornRecoveryBackend.replicas: 1
        longhornAdmissionWebhook.replicas: 1
        longhornUI.replicas: 1
        
