---
apiVersion: v1
kind: Namespace
metadata:
    name: cattle-monitoring-system
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
    name: grafana-loki
    namespace: kube-system
spec:
    chart: loki-distributed
    version: {{ loki_version }}
    repo: https://grafana.github.io/helm-charts
    targetNamespace: cattle-monitoring-system
    valuesContent: |-
        ingester:
            persistence:
                enabled: true
                claims:
                    - name: data
                      size: 10Gi
        querier:
            persistence:
                enabled: true
                size: 10Gi
        gateway:
            ingress:
                enabled: true
                annotations:
                    cert-manager.io/cluster-issuer: "letsencrypt-production"
                hosts:
                    - host: {{ loki_hostname }}
                      paths:
                        - path: /
                          pathType: ImplementationSpecific
                tls:
                    - secretName: loki-distributed-tls
                      hosts:
                        - {{ loki_hostname }}
        compactor:
            enabled: false
            persistence:
                enabled: true
                size: 10Gi
                claims:
                    - name: data
                      size: 10Gi
        indexGateway:
            enabled: true
            persistence:
                enabled: true
                size: 10Gi