---
apiVersion: v1
kind: Namespace
metadata:
    name: harbor
    labels:
        app: harbor
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
    name: harbor
    namespace: kube-system
spec:
    chart: harbor
    targetNamespace: harbor
    version: {{ harbor_version }}
    repo: https://helm.goharbor.io
    valuesContent: |-
        expose:
            type: ingress
            tls:
                enabled: true
                certSource: secret
                secret:
                    secretName: "harbor-cert"
            ingress:
                hosts:
                    core: {{ harbor_external_url }}
                className: nginx
                annotations:
                    cert-manager.io/cluster-issuer: "letsencrypt-production"
                    nginx.ingress.kubernetes.io/proxy-body-size: "0"
                    nginx.ingress.kubernetes.io/proxy-read-timeout: "3000"
                    nginx.ingress.kubernetes.io/proxy-connect-timeout: "3000"
                    nginx.ingress.kubernetes.io/proxy-buffering: "off"
        nginx:
            replicas: 3
        portal:
            replicas: 3
        core:
            replicas: 3
        jobservice:
            replicas: 3
        registry:
            replicas: 3
        trivy:
            replicas: 3
        exporter:
            replicas: 3
        externalURL: https://{{ harbor_external_url }}
        ipFamily:
            ipv6:
                enabled: false
        persistence:
            enabled: true
            resourcePolicy: "keep"
            persistentVolumeClaim:
                registry:
                    size: {{ harbor_registry_volume_size }}
                    accessMode: ReadWriteMany
                jobservice:
                    jobLog:
                        accessMode: ReadWriteMany
                trivy:
                    accessMode: ReadWriteOnce
        harborAdminPassword: "{{ harbor_admin_password }}"
        secretKey: "{{ harbor_secretkey }}"
        notary:
            enabled: false
        metrics:
            enabled: true
        cache:
            enabled: true