apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
    name: kube-vip-eth2
    namespace: kube-system
spec:
    chart: kube-vip
    version: {{ kube_vip_version }}
    repo: https://kube-vip.github.io/helm-charts
    targetNamespace: kube-system
    valuesContent: |-
        image:
          pullPolicy: Always
          tag: {{ kube_vip_image_version }}
        env:
          vip_interface: {{ flannel_iface }}
        config:
          address: {{ cluster_endpoint }}