---
apiVersion: v1
kind: Namespace
metadata:
  name: metallb-system
  labels:
    app: metallb
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
    name: metallb
    namespace: kube-system
spec:
    chart: metallb
    version: {{ metal_lb_version }}
    repo: https://metallb.github.io/metallb
    targetNamespace: metallb-system
    valuesContent: |-
        existingConfigMap: config
        rbac:
          create: true
---
apiVersion: v1
kind: ConfigMap
metadata:
  namespace: metallb-system
  name: config
data:
  config: |
    address-pools:
    - name: default
      protocol: layer2
      addresses:
      - {{ metal_lb_ip_range }}