apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
    name: cert-manager
    namespace: kube-system
spec:
    chart: cert-manager
    targetNamespace: cert-manager
    version: {{ cert_manager_version }}
    repo: https://charts.jetstack.io
    valuesContent: |-
        installCRDs: true
