---
apiVersion: v1
kind: Namespace
metadata:
    name: longhorn-system
    labels:
        app: longhorn
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
    name: longhorn
    namespace: kube-system
spec:
    chart: longhorn
    version: {{ longhorn_version }}
    repo: https://charts.longhorn.io
    targetNamespace: longhorn-system
    valuesContent: |-
        defaultSettings:
            backupTarget: {{ longhorn_backup_path }}
            defaultReplicaCount: {{ longhorn_replica_number }}
            createDefaultDiskLabeledNodes: {{ longhorn_disk_on_labeled_node }}
        ingress:
            enabled: {{ longhorn_ingress_enabled }}
            host: {{ longhorn_hostname }}
            tls: true
            tlsSecret: longhorn-cert
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
    name: longhorn-cert
    namespace: longhorn-system
spec:
    secretName: longhorn-cert
    issuerRef:
        name: letsencrypt-staging
        kind: ClusterIssuer
    dnsNames:
    - {{ longhorn_hostname }}
