---
apiVersion: v1
kind: Namespace
metadata:
    name: metallb-system
    labels:
        app: metallb
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
    name: metallb
    namespace: kube-system
spec:
    chart: metallb
    version: {{ metal_lb_version }}
    repo: https://metallb.github.io/metallb
    targetNamespace: metallb-system
---
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
    name: {{ metal_lb_pool_1_name }}
    namespace: metallb-system
spec:
    addresses:
    - {{ metal_lb_pool_1_address }}
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
    name: {{ metal_lb_pool_1_name }}
    namespace: metallb-system
spec:
    ipAddressPools:
    - {{ metal_lb_pool_1_name }}
    interfaces:
    - {{ metal_lb_pool_1_interface }}
---
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
    name: {{ metal_lb_pool_2_name }}
    namespace: metallb-system
spec:
    addresses:
    - {{ metal_lb_pool_2_address }}
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
    name: {{ metal_lb_pool_2_name }}
    namespace: metallb-system
spec:
    ipAddressPools:
    - {{ metal_lb_pool_2_name }}
    interfaces:
    - {{ metal_lb_pool_2_interface }}
---
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
    name: {{ metal_lb_pool_3_name }}
    namespace: metallb-system
spec:
    addresses:
    - {{ metal_lb_pool_3_address }}
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
    name: {{ metal_lb_pool_3_name }}
    namespace: metallb-system
spec:
    ipAddressPools:
    - {{ metal_lb_pool_3_name }}
    interfaces:
    - {{ metal_lb_pool_3_interface }}
