---
apiVersion: v1
kind: ConfigMap
metadata:
    name: kubevip
    namespace: kube-system
data:
    cidr-global: {{ kube_vip_ip_range }}
---
apiVersion: v1
kind: ConfigMap
metadata:
    name: kubevip
    namespace: kube-system
data:
    cidr-global: {{ kube_vip_ip_range }}
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
    name: kube-vip-cloud-provider
    namespace: kube-system
spec:
    chart: kube-vip-cloud-provider
    version: {{ kube_vip_cloud_controller_version }}
    repo: https://kube-vip.github.io/helm-charts
    targetNamespace: kube-system
    valuesContent: |-
        replicasCount: 3
        image:
          pullPolicy: Always
          tag: {{ kube_vip_cloud_controller_image_version }}

