---
apiVersion: v1
kind: Namespace
metadata:
    name: minio
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
    name: minio
    namespace: kube-system
spec:
    chart: operator
    version: {{ minio_operator_version }}
    repo: https://operator.min.io
    targetNamespace: minio
    valuesContent: |-
        console:
            ingress:
                enabled: true
                ingressClassName: nginx
                annotations:
                    cert-manager.io/cluster-issuer: "adamkoro-local"
                host: {{ minio_operator_hostname }}
                tls:
                    - secretName: minio-operator-console-cert
                      hosts:
                        - {{ minio_operator_hostname }}
                
