---
apiVersion: v1
kind: Namespace
metadata:
    name: minio-tanent-backup
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
    name: minio-tanent-backup
    namespace: kube-system
spec:
    chart: tenant
    version: {{ minio_tenant_backup_version }}
    repo: https://operator.min.io
    targetNamespace: minio-tanent-backup
    valuesContent: |-
        tenant:
            name: {{ minio_tenant_backup_name }}
            image:
                tag: RELEASE.2024-01-29T03-56-32Z-cpuv1
            configuration:
                name: {{ minio_tenant_backup_name }}-env-configuration
            pools:
                - servers: 3
                  name: {{ minio_tenant_backup_pool_name }}
                  volumesPerServer: 2
                  size: 30Gi
                  storageClassName: longhorn
            metrics:
                enabled: true
        ingress:
            api:
                enabled: true
                ingressClassName: nginx
                annotations:
                    cert-manager.io/cluster-issuer: "letsencrypt-production"
                    nginx.ingress.kubernetes.io/ssl-passthrough: "true"
                    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
                    nginx.ingress.kubernetes.io/proxy-body-size: "0"
                    nginx.ingress.kubernetes.io/proxy-read-timeout: "3000"
                    nginx.ingress.kubernetes.io/proxy-connect-timeout: "3000"
                    nginx.ingress.kubernetes.io/proxy-buffering: "off"
                host: {{ minio_tenant_backup_api_hostname }}
                tls:
                    - secretName: {{ minio_tenant_backup_api_hostname }}-cert
                      hosts:
                        - {{ minio_tenant_backup_api_hostname }}
            console:
                enabled: true
                ingressClassName: nginx
                annotations:
                    cert-manager.io/cluster-issuer: "letsencrypt-production"
                    nginx.ingress.kubernetes.io/ssl-passthrough: "true"
                    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
                    nginx.ingress.kubernetes.io/proxy-body-size: "0"
                host: {{ minio_tenant_backup_console_hostname }}
                tls:
                    - secretName: {{ minio_tenant_backup_console_hostname }}-cert
                      hosts:
                        - {{ minio_tenant_backup_console_hostname }}
---
apiVersion: v1
kind: Secret
metadata:
    name: {{ minio_tenant_backup_name }}-env-configuration
    namespace: minio-tanent-backup
type: Opaque
stringData:
    config.env: |
        export MINIO_ROOT_USER={{ minio_tenant_backup_access_key }}
        export MINIO_ROOT_PASSWORD={{ minio_tenant_backup_secret_key }}
        export MINIO_REGION={{ minio_tenent_backup_region }}
