---
apiVersion: v1
kind: Namespace
metadata:
    name: harbor
    labels:
        app: harbor
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
    name: harbor
    namespace: kube-system
spec:
    chart: harbor
    targetNamespace: harbor
    version: {{ harbor_version }}
    repo: https://helm.goharbor.io
    valuesContent: |-
        expose:
            type: ingress
            tls:
                enabled: true
                certSource: secret
                secret:
                    secretName: "harbor-cert"
            ingress:
                hosts:
                    core: {{ harbor_external_url }}
                className: nginx
                annotations:
                    cert-manager.io/cluster-issuer: "letsencrypt-production"
        externalURL: https://{{ harbor_external_url }}
        ipFamily:
            ipv6:
                enabled: false
        persistence:
            enabled: true
            resourcePolicy: "keep"
            persistentVolumeClaim:
                registry:
                    size: {{ harbor_registry_volume_size }}
        harborAdminPassword: "{{ harbor_admin_password }}"
        secretKey: "{{ harbor_secretkey }}"
        notary:
            enabled: false
        metrics:
            enabled: false
        cache:
            enabled: false
        nginx:
            image:
                repository: "registry.adamkoro.com/goharbor/nginx-photon"
        portal:
            image:
                repository: "registry.adamkoro.com/goharbor/harbor-portal"
        core:
            image:
                repository: "registry.adamkoro.com/goharbor/harbor-core"
        jobservice:
            image:
                repository: "registry.adamkoro.com/goharbor/harbor-jobservice"
        registry:
            registry:
                image:
                    repository: "registry.adamkoro.com/goharbor/registry-photon"
            controller:
                image:
                    repository: "registry.adamkoro.com/goharbor/harbor-registryctl"
        trivy:
            enabled: false
            image:
                repository: "registry.adamkoro.com/goharbor/trivy-adapter-photon"
        database:
            internal:
                image:
                    repository: "registry.adamkoro.com/goharbor/harbor-db"
        redis:
            internal:
                image:
                    repository: "registry.adamkoro.com/goharbor/redis-photon"
        exporter:
            image:
                repository: "registry.adamkoro.com/goharbor/harbor-exporter"
        imagePullSecrets:
            - name: harbor-pull-secret
