---
apiVersion: v1
kind: Namespace
metadata:
    name: monitoring
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
    name: node-exporter
    namespace: kube-system
spec:
    chart: prometheus-node-exporter
    version: {{ node_exporter_version }}
    repo: https://prometheus-community.github.io/helm-charts
    targetNamespace: monitoring