---
apiVersion: v1
kind: Namespace
metadata:
    name: monitoring
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
    name: prometheus
    namespace: kube-system
spec:
    chart: prometheus
    version: {{ prometheus_version }}
    repo: https://prometheus-community.github.io/helm-charts
    targetNamespace: monitoring
    valuesContent: |-
        server:
            ingress:
                enabled: true
                annotations:
                    kubernetes.io/ingress.class: "nginx"
                    cert-manager.io/cluster-issuer: "letsencrypt-production"
                hosts:
                    - {{ prometheus_hostname }} 
                tls:
                    - secretName: promehteus-https
                      hosts:
                        - {{ prometheus_hostname }}
            persistentVolume:
                enabled: true
                size: 10Gi
            statefulSet: 
                enabled: true
            retention: "15d"
        serverFiles:
            prometheus.yml:
                rule_files:
                    - /etc/config/recording_rules.yml
                    - /etc/config/alerting_rules.yml
                scrape_configs:
                    - job_name: prometheus
                      static_configs:
                        - targets:
                            - localhost:9090
                    - job_name: node-exporter-pi
                      static_configs:
                        - targets:
                            - prometheus-prometheus-node-exporter:9100
                    - job_name: proxmox
                      static_configs:
                        - targets:
                            - pve-1.adamkoro.local:9100
        alertmanager:
            enabled: false
        kube-state-metrics:
            enabled: false
        prometheus-pushgateway:
            enabled: false
        prometheus-node-exporter:
            enabled: true