---
apiVersion: v1
kind: Namespace
metadata:
    name: harbor
    labels:
        app: harbor
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
    name: harbor
    namespace: kube-system
spec:
    chart: harbor
    targetNamespace: harbor
    version: {{ harbor_version }}
    repo: https://helm.goharbor.io
    valuesContent: |-
        expose:
            type: ingress
            tls:
                enabled: true
                certSource: secret
                secret:
                    secretName: "harbor-cert"
            ingress:
                hosts:
                    core: {{ harbor_external_url }}
                className: nginx
                annotations:
                    cert-manager.io/cluster-issuer: "letsencrypt-staging"
        externalURL: https://{{ harbor_external_url }}
        ipFamily:
            ipv6:
                enabled: false
        persistence:
            enabled: true
            resourcePolicy: "keep"
            persistentVolumeClaim:
                registry:
                    size: {{ harbor_registry_volume_size }}
        harborAdminPassword: "l{{ harbor_admin_password }}"
        secretKey: "{{ harbor_secretkey }}"
        notary:
            enabled: false
        metrics:
            enabled: false
        cache:
            enabled: true